@import "../../setup/color-palette.setup";

$notification-common-position: 0 !default;
$notification-common-background-color: $color-palette-green !default;
$notification-common-z-index: 1000;

$notification-common-icon-text-color: $color-palette-white !default;
$notification-common-icon-font-size: 2rem !default;
$notification-common-icon-font-size-s: 2.5rem !default;
$notification-common-icon-spacing-right: 1.5rem !default;

$notification-common-icon-close-safe-area: .937rem !default;
$notification-common-icon-spacing-right-close: 0 !default;
$notification-common-icon-font-size-close: 1.5rem !default;
$notification-common-icon-text-color-close: darken($color-palette-white, 5%) !default;
$notification-common-icon-text-color-close-hover: darken($color-palette-white, 10%) !default;

$notification-common-text-color: $color-palette-white !default;
$notification-common-text-spacing-right: 1.5rem !default;

$notification-common-button-max-width: 6.25rem !default;

//** error state **//
$notification-common-background-color-error: $color-palette-red !default;
