@import '../../setup/color-palette.setup';


$input-range-width: 100% !default;

$input-range-field-width: 100% !default;
$input-range-field-height: .3125rem !default;
$input-range-field-background-color: $color-palette-gray-2 !default;
$input-range-field-border-radius: .25rem !default;

$input-range-label-font-size: 1rem !default;
$input-range-label-text-color: $color-palette-blue-2 !default;
$input-range-label-spacing-bottom: .75rem !default;

$input-range-slider-thumb-dimension: 1.25rem !default;
$input-range-slider-thumb-background-color: $color-palette-green !default;
$input-range-slider-thumb-border-radius: 100% !default;

$input-range-output-width: 100% !default;
$input-range-output-color: $color-palette-green !default;
$input-range-output-font-size: 1.0625rem !default;
