@import "../../mixins/breakpoint";
@import "../../mixins/animation";
@import "../../base/font/font.mixin";
@import "../../base/spacing/spacing.mixin";
@import "../../base/typo/typo.mixin";

@import "input.setup";

.input {

	display: inline-block;
	border: none;
	position: relative;
	width: $input-width;

	&__field {
		@include -font-primary();
		@include transition(all, .2s);

		border: $input-field-border-width solid $input-field-border-color;
		padding: $input-field-vertical-padding $input-field-horizontal-padding-right;
		max-height: $input-field-max-height;
		color: $input-field-text-color;
		font-size: $input-field-label-font-size;
		outline: none;
		width: $input-field-width;
		border-radius: $input-field-border-radius;
		appearance: none;
		box-sizing: border-box;

		&--icon {
			padding-left: $input-field-horizontal-padding;
		}

		&--right {
			padding-left: $input-field-horizontal-padding-right;
		}
	}

	&__icon {
		color: $input-icon-text-color;
		font-size: $input-icon-font-size;
		position: absolute;
		left: $input-icon-position-left;
		top: $input-icon-position-top;
		padding: $input-icon-spacing;

		&--right {
			@include transition(all, .2s);

			cursor: pointer;
			left: auto;
			right: $input-icon-position-right;
			background: $input-icon-right-background-color;
			border-top-right-radius: $input-icon-right-border-radius;
			border-bottom-right-radius: $input-icon-right-border-radius;

			&:hover {
				background: $input-icon-right-background-color-hovered;
			}
		}
	}

	&__label {
		@include -font-primary();
		@include transition(all, .2s);

		position: absolute;
		top: $input-label-position-top;
		left: $input-label-position-right;
		display: block;
		color: $input-label-color;
		font-size: $input-label-font-size;
		transform: translateY(-50%);

		&--icon {
			left: $input-label-position-left;
		}

		&--right {
			left: $input-label-position-right;
		}
	}

	&__field:not(:placeholder-shown) ~ &__label {
		top: $input-label-position-top-not-focused;
		left: $input-label-position-right;
		font-size: $input-label-font-size-not-focused;
		color: lighten($input-label-color, 10%);
		transform: none;

		&--icon {
			left: $input-label-position-left-not-focused;
		}

		&--right {
			left: $input-label-position-right-not-focused;
		}
	}

	&__field:focus {
		box-shadow: 0 5px 30px 0 $input-field-box-shadow-color-focus;
	}

	&__field:focus:not(:placeholder-shown) ~ &__label {
		top: $input-label-position-top-focused;
		left: $input-label-position-right;
		font-size: $input-label-font-size-focused;
		color: lighten($input-label-color, 10%);
		transform: none;

		&--icon {
			left: $input-label-position-left-focused;
		}

		&--right {
			left: $input-label-position-right-focused;
		}
	}
}
