<div class="image-profile {{ styleModifier }}">
	<img src="{{ image-profile_image }}" class="image image-profile__image">

	<label class="image-profile__overlay">
		<input type="file" name="" class="image-profile__field" data-multiple-caption="{count} files selected" />
		<span class="icon icon--camera image-profile__icon"></span>
	</label>
</div>
