@import "../../base/background/background.mixin";
@import "../../base/font/font.mixin";
@import "../../base/typo/typo.mixin";
@import "../../base/text-color/text-color.mixin";
@import "../../base/align/align.mixin";
@import "../../base/spacing/spacing.mixin";
@import "../../mixins/animation";

@import "context-menu.setup";

.context-menu {
	@include -background-gray-2();
	@include -spacing-static-c();
	@include transition(all, .4s);

	position: absolute;
	width: auto;
	opacity: 0;
	right: $context-menu-position-right;
	top: $context-menu-position-top;

	&:before {
		content: '';
		position: absolute;
		top: -$context-menu-triangle-border-width;
		right: $context-menu-triangle-border-width;
		width: $context-menu-triangle-dimension;
		height: $context-menu-triangle-dimension;
		border-style: solid;
		border-width: 0 $context-menu-triangle-border-width $context-menu-triangle-border-width $context-menu-triangle-border-width;
		border-color: transparent transparent $context-menu-triangle-color transparent;
	}

	&--open {
		opacity: 1;
		top: $context-menu-position-top-open-state;
	}

	&__list {
		@include -spacing-inner-b();
		@include -align-right();
	}

	&__link {
		@include -text-color-blue-2();
		display: block;
		line-height: 2;

		&:hover {
			@include -text-color-blue-1();
		}

	}

	&__icon {
		display: inline-block;
		margin-right: $context-menu-icon-spacing-right;
	}

	&__title {
		@include -font-primary();
		@include -typo-copy();

		display: inline-block;
	}

	&__button {
		border-radius: $context-menu-button-border-radius-reset;
	}
}
