@import "../../base/typo/typo.mixin";
@import "../../base/font/font.mixin";
@import "../../base/text-color/text-color.mixin";
@import "../../base/grid/flex.mixin";
@import "../../base/spacing/spacing.mixin";

@import "../../mixins/breakpoint";

@import "hero-image-beachcourt-detail.setup";

.hero-image-beachcourt-detail {
	height: $hero-image-beachcourt-detail-height;
	width: $hero-image-beachcourt-detail-width;
	overflow: hidden;
	position: relative;
	background-repeat: no-repeat;
  background-size: cover;

  &__overlay {
  	@include flex;
  	@include flex--center-horizontal;
  	@include flex--center-vertical;
  	@include flex--direction(column);
  	@include -spacing-inner-a;

  	position: absolute;
  	width: $hero-image-beachcourt-detail-overlay-width;
  	height: $hero-image-beachcourt-detail-overlay-height;
  	background: $hero-image-beachcourt-detail-overlay-gradient-color-1;
		background-image: linear-gradient(to bottom, $hero-image-beachcourt-detail-overlay-gradient-color-1 0%, $hero-image-beachcourt-detail-overlay-gradient-color-2 100%);
  	box-sizing: border-box;
  }

  &__title {
  	@include -typo-headline-3;
  	@include -font-secondary;
  	@include -text-color-white;
  	@include -overflow-ellipsis;
  	text-shadow: $hero-image-beachcourt-detail-title-text-shadow-position $hero-image-beachcourt-detail-title-text-shadow-position $hero-image-beachcourt-detail-title-text-shadow-blur $hero-image-beachcourt-detail-title-text-shadow-color;

  	display: block;
  	max-width: $hero-image-beachcourt-detail-title-max-width;

  	@include breakpoint('s') {
  		@include -typo-headline-1;
  	}
  }

  &__subtitle {
  	@include -typo-headline-5;
  	@include -font-secondary;
  	@include -text-color-white;
  	@include -overflow-ellipsis;
  	text-shadow: $hero-image-beachcourt-detail-title-text-shadow-position $hero-image-beachcourt-detail-title-text-shadow-position $hero-image-beachcourt-detail-title-text-shadow-blur $hero-image-beachcourt-detail-title-text-shadow-color;

  	display: block;
  	max-width: $hero-image-beachcourt-detail-subtitle-max-width;
  }
}
