@import "../../setup/color-palette.setup";

$hero-image-beachcourt-detail-height: 35vh !default;
$hero-image-beachcourt-detail-width: 100% !default;
$hero-image-beachcourt-detail-overlay-width: 100% !default;
$hero-image-beachcourt-detail-overlay-height: 100% !default;
$hero-image-beachcourt-detail-overlay-position-vertical: 0 !default;
$hero-image-beachcourt-detail-overlay-position-horizontal: 0 !default;

$hero-image-beachcourt-detail-title-max-width: 100% !default;
$hero-image-beachcourt-detail-subtitle-max-width: 100% !default;
