<div class="hero-image-profile {{ styleModifier }}" style="background-image: url({{ hero-image-profile_image }})">
	<div class="hero-image-profile__overlay">
		{{> organisms-image-profile:hero-image-profile__image }}
		<h1 class="hero-image-profile__title">{{ hero-image-profile_title }}</h1>
		<h2 class="hero-image-profile__subtitle">
			<span class="icon icon--map-marker"></span>
			{{ hero-image-profile_subtitle }}
		</h2>
	</div>
</div>
