<div class="hero-image-beachcourt-detail {{ styleModifier }}" style="background-image: url({{ hero-image-beachcourt-detail_image }})">
	<div class="hero-image-beachcourt-detail__overlay">
		<h1 class="hero-image-beachcourt-detail__title">{{ hero-image-beachcourt-detail_title }}</h1>
		<h2 class="hero-image-beachcourt-detail__subtitle">{{ hero-image-beachcourt-detail_subtitle }}</h2>
	</div>
</div>
