// setup
@import "overlay.setup";

@import "../../base/grid/flex.mixin";

.overlay {
	@include flex;
	@include flex--center-vertical;
	@include flex--center-horizontal;

  position: fixed;
  left: $overlay-position;
  top: $overlay-position;
  height: $overlay-dimensions;
  width: $overlay-dimensions;
  background: $modal-image-dialog-gradient-color-2;
  background-image: linear-gradient(to bottom, $modal-image-dialog-gradient-color-1 0%, $modal-image-dialog-gradient-color-2 100%);
  z-index: $overlay-z-index;
}
